main {
  background-image: url('../../assets/images/background-main.jpg');
}

.carousel {
  width: 80%;
  height: 570px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.carousel-control-next, 
.carousel-control-prev {
  width: 5% !important;
  opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem !important;
  height: 3rem !important;
  
 
  transition: .2s ease-in-out;
  
  &:hover {
    transform: scale(1.4, 1.4);
  } 
}